---
import Section from "@/components/section.astro";
import EsCv from "@cv";
import EnCv from "../../../cv.en.json";
const url = Astro.url;
const isEnglish = url.pathname === "/en" || url.pathname === "/en/";
const getCv = isEnglish ? EnCv : EsCv;
const { basics } = getCv;
const { summary, knowledge } = basics;
---

<Section title={isEnglish ? "About" : "Sobre mí"}>
  <p>
    {summary}
  </p>

  <p>
    {knowledge}
  </p>
</Section>
