---
const {text}= Astro.props
---
<span>
    {text}
</span>

<style>
 span{
    border-radius: 6px;
    background: #eee;
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    margin-right: 6px
 }
</style>