---
const {justifyContent, alignItems}= Astro.props
console.log(alignItems)
---

<div>
   <slot/>
</div>

<style define:vars={{justifyContent, alignItems}}>
 div{
   display:flex;
   justify-content: var(--justifyContent);
   align-items: var(--alignItems); 
   
 }
</style>