---
const { justifyContent, alignItems, noPrint } = Astro.props;
---

<div class={noPrint && "no-print"}>
  <slot />
</div>

<style define:vars={{ justifyContent, alignItems }}>
  div {
    display: flex;
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
  }
</style>
