---
import Argentina from "@/icons/Argentina.astro";
import Flex from "./Flex.astro";
import English from "@/icons/English.astro";
---

<Flex noPrint>
  <a href="/" style={{ marginRight: "10px" }}>
    <Argentina />
  </a>
  <a href="/en">
    <English />
  </a>
</Flex>
